<div class='page-width' id='reviews'>
    <div class='okeReviews-widget-holder'>
            <h2 class='reviews_title'>Customer Reviews</h2>
        <div data-oke-reviews-widget data-oke-reviews-product-id='shopify-{{ product.id }}'>{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
    </div>
</div>