<!-- This is the page that gets put at the bottom of quad collectioons -->

<div class="page-content new-page__main-content">


  <div class="grid">
    <div class="grid__item">


      {% comment %} {% section 'hero-new-two' %} {% endcomment %}

      {% comment %} {% section 'hero-video-new-two' %} {% endcomment %}


        <div class="rte rte--nomargin"> {{ page.content }}

      </div>


    </div>
  </div>
  <div id="rich-text-left-side--section">

    {% section 'rich-text-new-left-two' %}
  </div>
  <div style="padding-bottom: 4em;">
    {% section 'logo-list-slideshow' %}
  </div>
  <div id="rich-text-right-side--section">
    {% section 'rich-text-new-right-two' %}

  </div>
  {% section 'rich-text-bg-image' %}
  <div id="slider-new--section">
    {% section 'new-slideshow-two' %}
  </div>


  <div id="rich-text-two-side--section">
    {% section 'rich-text-twoSide-two' %}
  </div>
  <!-- 		<div id="featured-new-collection--section"> -->
  {% comment %} {% section 'new-featured-collection-two' %} {% endcomment %}
  <!--         </div> -->
    <div id="new-product-come--section"> {% section 'new-product-come-two-collection' %}
  </div>


</div>


<style>

  .new-page__main-content {
    font-family: "Jost" !important;
  }

  {% if handle contains 'trio' or handle contains 'fathers-day' or handle contains 'wireless' or handle contains 'quad'%}
   .main-content, .page-content{
  		padding-top:0 !important;
  }
  
  {% endif %}


    .new-page__main-title {
      font-family: "Jost bold" !important;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: normal;
      margin-bottom: 25px;
    }

    .new-page__page-text {}

    @media(max-width: 768px) {
      .direction-mobile {
        flex-direction: column;

      }

    }
  </style>