<div class="product_page-nav">
    <div class="product_page-buttons">
        <a href="#product-info" class="product_page-btn active">Product Info</a>
        <a href="#specifications" class="product_page-btn">Specifications</a>
        <a href="#reviews" class="product_page-btn">Customer Reviews</a>
    </div>
</div>