{% if section.settings.checkLeftTwo == true %}
<style>
  .rich-text-left__wrapper{
  	height: 640px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 170px 25px;
    color: #000 !important;
	display: -webkit-box;    
    display: -moz-box;      
    display: -ms-flexbox;    
    display: -webkit-flex;     
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  } 

      .rich-text-left__block{
  width: 50%;
  }
      .rich-text-left__block:first-child{
  width: 39%;
  }
  
  @media (max-width: 768px){
    .rich-text-left__wrapper{
    	height: auto;
       padding-top: 50px;
      
    }
     .rich-text-left__block{
  	width: 100%;
  }
    .rich-text-left__block:first-child{
  	width: 100%;
     padding-bottom: 40px;
  }
     .rich-text-left__wrapper{
       padding: 119px 25px;
     }
  }
  
</style>


<div>

<div class="rich-text-left__wrapper page-width direction-mobile">
	<div class="rich-text-left__block">
      <h2 class="new-page__main-title" data-aos="fade-up">{{ section.settings.leftTitle }}</h2>
      <div data-aos="fade-up">{{ section.settings.text }}</div>
  	</div>
  	<div class="rich-text-left__block">
  		<img src="{{ section.settings.image | img_url: '900x'}}">
  	</div>
</div>
 

</div>
{% endif %}

{% schema %}
  {
    "name": "Rich text left",
    "settings": [
		{
        "type": "checkbox",
        "id": "checkLeftTwo",
        "label": "Enable",
		"default": true
      },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background-image"

          },
			{
			"type": "text",
            "id": "leftTitle",
            "label": "Title"
			},
			{
			"type": "richtext",
            "id": "text",
            "label": "Description",
			"default": "<p>Made of premium Amish sourced wood and high-quality plastic, designed to blend into any environment. Tidy up your nightstand - organize your mind!</p>"
			}
], "presets": [{
        "name": "Rich text",
        "category": "Text"
    }]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
