<div class="page-content new-page__main-content">


	<div class="grid">
    <div class="grid__item">
      
		
			{% section 'hero-uno' %}
      
        	{% section 'hero-video-uno' %}
       

      <div class="rte rte--nomargin">
        {{ page.content }}

      </div>

      
    </div>
  </div>
      <div>

        {% section 'rich-text-uno-left' %}
      </div>
  <div class="custom_video">
  {% section 'custom-featured-video-uno' %}
  </div>
  <div style="padding-bottom: 4em;">
  {% section 'logo-list-slideshow' %}
  </div>
        <div>
        {% section 'rich-text-uno-right' %}
      </div>
  {% section 'rich-text-bg-image-uno' %}
		<div id="slider-uno--section">
        {% section 'uno-slideshow' %}
      </div>

  
        <div>
        {% section 'rich-text-twoSide-uno' %}
      </div>
		<div id="featured-new-collection--section">
        {% section 'uno-featured-collection' %}
        </div>
       <div>
        {% section 'new-product-come-uno' %}
      </div>


</div>


<style>
  
  .new-page__main-content{
    font-family: "Jost" !important;
  }
  
   {% if handle contains 'trio' or handle contains 'fathers-day' or handle contains 'wireless' or handle contains 'quad' or handle contains 'uno' %}
   .main-content, .page-content{
  		padding-top:0 !important;
  }
  
 
  {% endif %}

  
    .new-page__main-title{
      font-family: "Jost bold" !important;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: normal;
      margin-bottom: 25px;
  }
  
   
  @media (max-width: 768px){
    .direction-mobile{
    flex-direction: column;
    
    }
  
  }
</style>